.mc-lists.el
.org-id-locations
auto-save-list/
cursory-latest-state.eld
desktop/
elpa/
emms/
eshell/
eww-bookmarks
feeds.org
youtube.org
private.el
fontaine-latest-state.eld
history
image-dired/
nov-places
org-clock-save.el
places
recentf
savehist
tramp
transient/
url/
projects
tree-sitter/